{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Genre: {{ game.genre }}</p>
        <p>Release-Year: {{ game.release_year }}</p>
        <p>Description: {{ game.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' game.id %}"method='post'>
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type='submit' class='btn' value='Add Review'>
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Rating</th><th>Comment</th></tr>
      </thead>
      <tbody>
        {% for review in game.review_set.all %}
          <tr>
            <td>{{review.date}}</td>
            <td>{{review.get_grade_display}}</td>
            <td>{{review.comment}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ game.name }} is currently in stock at:</h3>
      {% if game.stores.count %}
        {% for store in game.stores.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ store.name}}<br>
                location: {{ store.address }}
              </span>
              <form action="{% url 'assoc_store_delete' game.id store.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">x</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Toys :(</h5>
      {% endif %}
    </div>


    <div class="col s6">
      <h3>Available Stores to Add</h3>
      {% if stores.count %}
        {% for store in stores.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ store.name}}<br>
                location: {{ store.address }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_store' game.id store.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{game.name}} Is available in all stores!</h5>
      {% endif %}
    </div>
  </div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })

  const selectEl = document.getElementById('id_grade');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}